<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TodoList</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="inputValue"/>
		<button v-on:click="btnClick">提交</button>
		<ul>
			<li v-for="item in list">{{item}}</li>
		</ul>
	</div>
	<script type="text/javascript">
         var app=new Vue({
         	el:"#app",
         	data:{
         		inputValue:'',
         		list:[]
         	},
         	methods:{
         		btnClick:function(){
         			this.list.push(this.inputValue),
         			this,inputValue=''
         		}
         	}
         })
	</script>
</body>
</html>